<section class="my-20">
  <h2 class="text-2xl font-semibold mb-1">Sobre mi</h2>
  <hr class="mb-4 border-zinc-600">
  <p class="leading-8 text-lg text-pretty mb-3 text-zinc-400">Desarrollador Backend  y DevOps con multiples habilidades en el desarrollo de software enfocado en brindar servicios de calidad y a adatados a la medida.</p>